<%- include("header") -%>

    <h2 class="textHeading">Welcome to your To-Do List</h2>

    <p>With this app users can store and delete tasks in our database by modifying the address route (i.e "/MyList")</p>
    <p>How to Use:</p>
    <ul>
        <li>Create your own page by changing the end route to whatever you wish, like "/Nekko's List".</li>
        <li>Items can be deleted by pressing the checkbox, but be warned items deleted cannot be recovered (we do not save your data nor do we sell to China or Russia).</li>
        <li>Every page renders with this documentation in the header and you can delete the introduction from your page. Do be aware that your entries are public on the web.</li>
        <li>Please Enjoy!</li>
    </ul>

    <%- include("footer") -%>